* {
    font-family: sans-serif;
}

.container {
    width: 70%;

}

h1 {
    text-align: center;
    width: 54%;
    font-size: 22px;
    color: rgb(61, 61, 61);
}

fieldset {
    width: 50%;
    height: 64px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 0;
    margin: 1em;
}

fieldset input {
    border: none;
    width: 96%;
}

legend {
    margin-left: 0.75em;

}

label {
    font-size: 12px;
    color: rgb(142, 142, 142);
}

p {
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #a3a3a3;
    font-size: 10px;
    height: 39%;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

form > input {
    background-color: #2471ff;
    border: medium none;
    color: white;
    margin-left: 12.5em;
    margin-top: 2em;
    padding: 0.75em;
    border-radius: 3px;
    border-bottom: 2px solid rgb(133, 161, 242);
}
