* {
  font-family: sans-serif;
}

fieldset {
  width: 50%;
  background-color: #FFF4F4;
  border-color: #FCD7D7;
}

legend {
  border-style: solid;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-width: 1px;
  background-color: #FFF4F4;
}

fieldset label {
  display: inline-block;
  width: 30%;
}

input {
  display: inline-block;

}

#message {
  vertical-align: top;
}
