* {
    font-family: serif;
}

#container {
    width: 45%;
}

form {
    border-radius: 10px;
    box-shadow: 0 0 5px lightgrey;
    padding-bottom: 2em;
}

h1 {
    background-color: #2A88AD;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: normal;
    padding: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

span {
    background-color: #2A88AD;
    color: white;
    font-size: 15px;
    padding-left: 2.25em;
    padding-top: 0.25em;
    padding-right: 12.25em;
    padding-bottom: 1em;
}

h2:first-of-type {
    margin-top: 2.5em;
}

h2 span {
    border-radius: 50em;
    padding: 0.25em 0.5em;
    margin-right: 2em;
    margin-left: -13px;
}

h2 {
    color: #2A88AD;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0.25em;
}

fieldset {
    background-color: #f8f8f8;
    border: medium none;
    border-radius: 5px;
    margin: auto;
    padding: 2em 0;
    width: 85%;
}

fieldset label {
    margin-left: 1em;
    color: #929292;

}

fieldset input {
    background-color: white;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 1px 2px 1px lightgrey inset;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 90%;
}

#submit {
    background-color: #2a88ad;
    border: medium none;
    border-radius: 5px;
    color: white;
    margin-left: 3em;
    margin-right: 10em;
    margin-top: 1em;
    padding: 0.5em 1em;
}


form > label {
    font-size: 12px;
}

#terms {
    vertical-align: middle;
}
